$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

/* ------------------------------------------------------------------------- */
/* ----------------------------- my stuff ----------------------------------- */
/* ------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, div, p, a, textarea, input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }
}

[tooltip]:before {
    content: attr(tooltip);
    position: absolute;
    opacity: 0;

    /* customizable */
    transition: all 0.15s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
}

[tooltip]:hover:before {
    opacity: 1;

    /* customizable */
    background: yellow;
    margin-top: 28px;
    margin-left: 20px;
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}
